@(title: String)

@main(title) {
    
    <h1>
    	<span class="swe">Sweden</span> vs <span class="fin">Finland</span>
    	<small>Public transportation edition</small>
    </h1>

    <section id="intro">
    	<p>Our butler is crafting your data as we speak. Please wait.</p>
	</section>

    <hr />

    <section id="lateness-ratio">
    	<h2>Round 1</h2>
	    <p>How many trains are late right now?</p>
	    <dl>
	    	<dt class="swe"><h3>Sweden</h3></dt>
	    	<dd class="swe"></dd>
	    	<dt class="fin"><h3>Finland</h3></dt>
	    	<dd class="fin"></dd>
		</dl>
	</section>

	<hr />

	<section id="too-late">
    	<h2>Round 2</h2>
		<p>How many of those trains are more than 3 minutes behind schedule?</p>
		<dl>
	    	<dt class="swe"><h3>Sweden</h3></dt>
	    	<dd class="swe"></dd>
	    	<dt class="fin"><h3>Finland</h3></dt>
	    	<dd class="fin"></dd>
		</dl>
	</section>

	<hr />

	<section id="median-lateness">
    	<h2>Round 3</h2>
		<p>How late is the average late train?</p>
		<dl>
	    	<dt class="swe"><h3>Sweden</h3></dt>
	    	<dd class="swe"></dd>
	    	<dt class="fin"><h3>Finland</h3></dt>
	    	<dd class="fin"></dd>
		</dl>
	</section>

	<hr />

	<section id="results">
		<h2>Calculating results...</h2>
	</section>

}
