@(title: String)

@main(title) {
    
    <h1>@title</h1>
    
    <section id="intro">
    	<p>Confabulating data for your pleasure. Please wait.<p>
	</section>

    <hr />

    <section id="lateness-ratio">
	    <h2>How many trains are late right now?</h2>
	    <dl>
	    	<dt class="swe">Sweden</dt>
	    	<dd class="swe"></dd>
	    	<dt class="fin">Finland</dt>
	    	<dd class="fin"></dd>
		</dl>
	</section>

	<hr />

	<section id="average-lateness">
		<h2>How late are those trains running on average?</h2>
		<dl>
	    	<dt class="swe">Sweden</dt>
	    	<dd class="swe"></dd>
	    	<dt class="fin">Finland</dt>
	    	<dd class="fin"></dd>
		</dl>
	</section>

	<hr />

	<section id="not-too-late">
		<h2>What are the odds of a train being less than 3 minutes behind schedule?</h2>
		<dl>
	    	<dt class="swe">Sweden</dt>
	    	<dd class="swe"></dd>
	    	<dt class="fin">Finland</dt>
	    	<dd class="fin"></dd>
		</dl>
	</section>

	<hr />

	<section id="results">
		<h2>Calculating results...</h2>
		<dl>
	    	<dt class="swe">Sweden</dt>
	    	<dd class="swe"></dd>
	    	<dt class="fin">Finland</dt>
	    	<dd class="fin"></dd>
		</dl>
	</section>

}
